@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{  display:block; 
	opacity: 0; 
	visibility: hidden; 
	display: none;
	transition:.3s; margin-top:0;  }
	.navbar .nav-item:hover
	 /* .nav-link{ color: #fff;  } */
	.navbar .dropdown-menu.fade-down{ top:80%; transform: rotateX(-75deg); transform-origin: 0% 0%; }
	.navbar .dropdown-menu.fade-up{ top:180%; }
	.navbar .nav-item:hover
	.dropdown-menu{ transition: .3s; opacity:1;
		 visibility:visible;
		 display: block; 
		 top:100%; transform: rotateX(0deg); }


		 /* toggle */
		 .menu--toggle,
		 .menu--body {
			 display: none !important;
		 }
 /* The trick,display the item when the menu label is on */
		 .menu--toggle:checked ~ .menu--body {
			 display: block !important;
		 }
 /* other styling */
		}